/* GENERICS */
:root {
  --button-color: #d2401e;
  --bg-cream: #f7f7f2;
  --text-gold: #b7903c;
  --main-black-text: #303030;
  --text-lightgrey: #a6a6a6;
  --text-green: #339966;
}
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Teko", sans-serif;
  color: var(--main-black-text);
  /* overflow-x: auto; */
}
button.btn-red:hover {
  color: white;
  background-color: #b92c0c;
}

/*********************** HEADER ***********************/

header {
  background-image: url(../img/cielostellato.PNG);
  background-position: center;
  color: white;
}
.btn-red {
  background-color: var(--button-color);
  border-radius: 0;
  color: white;
}

/*********************** NAVBAR ***********************/
.nav-logo {
  height: 0.6rem;
  filter: invert(1);
}

/*********************** JUMBOTRON ***********************/
#jumbotron {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.slice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 100%; */
}

/* MAIN */

/*********************** GALLERY ***********************/
#gallery {
  display: flex;
  column-gap: 5px;
}

/*********************** QUOTE ***********************/
#quote {
  /* height: 200px; */
  background-image: url(../img/h3-testimonials-bckgrnd.jpg);
  background-position: center;
  background-size: contain;
}
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  text-align: center;
}
.fa-quote-left {
  font-size: 4rem;
  color: var(--text-gold);
}
.fa-circle {
  font-size: 0.5rem;
  padding-right: 5px;
  color: #e4e4d4;
}
.small-red-text {
  color: #d2401e;
  margin-bottom: 15px;
  font-size: 0.8rem;
}
.fa-circle:first-child {
  color: var(--text-gold);
}
/*********************** SPECIALITA' ***********************/
#specials .col-left {
  width: 50%;
  background-image: url(../img/h1-img-4.jpg);
  background-position: center;
  background-size: cover;
}
.specials-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#specials ul {
  list-style: none;
}
.red-text {
  /* font-size: 1.5rem; */
  color: var(--button-color);
}
.text-muted {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  line-height: 0.7rem;
}
.text-small1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #8f8f8f;
}

/*********************** TEAM ***********************/
#team {
  display: flex;
}
.team-resized {
  object-fit: cover;
  object-position: right;
  height: 100%;
}

/*********************** PARTNERS ***********************/
#partners {
  display: flex;
  width: 75%;
  margin: 0 auto;
  padding: 40px 0;
}

/*********************** MENU ***********************/
#menu {
  padding-top: 50px;
}
.text-small2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #5a5a5a;
}

.menu-gallery {
  padding: 40px 0;
  display: flex;
  flex-wrap: nowrap;
  min-width: 1200px;
  max-width: 2000px;
}
.overflow1 {
  overflow-x: auto;
}
.menu-gallery img {
  min-width: 200px;
  max-width: 250px;
  margin: 0 40px;
}
.menu-gallery .pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pizza-text {
  padding-top: 10px;
  text-align: center;
  color: var(--text-gold);
}

/*********************** EVENTI ***********************/
#events {
  display: flex;
}
#events .col-right {
  background-image: url(../img/h3-img-5a.jpg);
  background-position: center;
  background-size: cover;
}
#events .col-right img {
  object-fit: cover;
}
#events .col-left {
  width: 50%;
  background-image: url(../img/cielostellato.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#events .text-area {
  width: 60%;
  margin: 40px auto;
  color: white;
}
#events .small-red-text {
  font-size: 0.6rem;
}
#events .text-area .red-text {
  /* line-height: 1.2rem; */
}
#events .event {
  padding: 10px 0;
  border-bottom: 1px dotted var(--text-gold);
}

/*********************** PRENOTA ***********************/
#booking {
  background-image: url(../img/h3-background-img-3.jpg);
  background-size: cover;
  color: white;
  padding: 60px 0;
  border-bottom: 1px solid white;
}
#booking select,
#booking input {
  max-width: 18%;
  color: #5a5a5a;
  font-size: 0.9rem;
  border: 1px solid #303030;
}

#booking button {
  text-align: center;
  width: 20%;
  min-width: 100px;
}
/* FOOTER */
footer {
  display: flex;
}
footer .col-left {
  width: 50%;
  background-image: url(../img/cielostellato.PNG);
}
footer .col-right {
  width: 50%;
  background-image: url(../img/footer-img-1.jpg);
  background-position: center;
  background-size: cover;
}
footer h5 {
  color: var(--text-gold);

  font-size: 1.2rem;
}
footer h6 {
  color: var(--text-gold);
  font-size: 1rem;
  margin: 0;
}
footer p {
  color: var(--text-lightgrey);
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  font-size: 0.6rem;
  color: var(--text-lightgrey);
}
footer li p {
  margin: 0;
  font-size: 0.7rem;
}
.author {
  color: var(--text-green);
  font-size: 0.7rem;
}
.created {
  color: var(--text-gold);
  font-size: 0.7rem;
}
.footer-img {
  width: 80%;
}
