/* GENERICS */
:root {
  --button-color: #d2401e;
  --bg-cream: #f7f7f2;
  --text-gold: #b7903c;
  --main-black-text: #303030;
  --text-lightgrey: #a6a6a6;
  --text-green: #339966;
}
img {
  max-width: 100%;
  max-height: 100%;
}

body {
  font-family: "Teko", sans-serif;
  color: var(--main-black-text);
  /* overflow-x: auto; */
}
button.btn-red:hover {
  color: white;
  background-color: #b92c0c;
}
.pizza-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background-color: white;
  position: absolute;
}
.pizza-button img {
  width: 60%;
}

/*********************** HEADER ***********************/

header {
  background-image: url(../img/cielostellato.PNG);
  background-position: bottom;
  color: white;
}

.btn-red {
  background-color: var(--button-color);
  border-radius: 0;
  color: white;
}
.btn.btn-red {
  min-width: 100px;
}
header ul {
  list-style: none;
  margin: 0;
}

/*********************** NAVBAR ***********************/
.nav-logo {
  height: 0.6rem;
  padding-right: 5px;
  filter: invert(1);
}
.nav-divider {
  width: 120px;
}
nav a {
  text-decoration: none;
  color: white;
}
/*********************** JUMBOTRON ***********************/
#jumbotron {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
}
.slice {
  padding-top: 180px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* height: 100%; */
}

/* MAIN */

/*********************** GALLERY ***********************/
#gallery {
  display: flex;
  column-gap: 5px;
}

/*********************** QUOTE ***********************/
#quote {
  /* height: 200px; */
  background-image: url(../img/h3-testimonials-bckgrnd.jpg);
  background-position: center;
  background-size: contain;
  position: relative;
}
.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  text-align: center;
}
.fa-quote-left {
  font-size: 4rem;
  color: var(--text-gold);
}
.fa-circle {
  font-size: 0.5rem;
  padding-right: 5px;
  color: #e4e4d4;
}
.small-red-text {
  color: #d2401e;
  margin-bottom: 15px;
  font-size: 0.8rem;
}
.fa-circle:first-child {
  color: var(--text-gold);
}
#quote .pizza-button {
  bottom: 10px;
  right: 10px;
}
/*********************** SPECIALITA' ***********************/
#specials .col-left {
  width: 50%;
  background-image: url(../img/h1-img-4.jpg);
  background-position: center;
  background-size: cover;
}
#pizzaSpecial {
  padding: 8rem;
}
.specials-text {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.specials-text .pizza-button {
  bottom: 30%;
  right: 20px;
  background-color: #f6f7f2;
}

#specials ul {
  list-style: none;
}
.red-text {
  color: var(--button-color);
}
.text-muted {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.5rem;
  line-height: 0.7rem;
}
.text-small1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #8f8f8f;
}
/*********************** BUILD ***********************/

.side-row {
  height: 70px;
  display: flex;
}
.middle-row {
  height: 140px;
  display: flex;
}
.middle-win {
  width: 90%;
  height: 100%;
  background-image: url(../img/h3-background-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.side-win {
  width: 5%;
  height: 100%;
  background-image: url(../img/h3-background-img.jpg);
  background-repeat: no-repeat;
}
.middle-win.uno {
  background-position: bottom;
}
.middle-win.due {
  background-position: top 5% right 0;
}
.middle-win.tre {
  background-position: bottom 30% right 0%;
}
.side-win.uno {
  background-position: right bottom;
}
.side-win.due {
  background-position: left bottom;
}
.side-win.tre {
  position: relative;
  background-position: right 0 top 10%;
}
.side-win.quattro {
  background-position: left 10% top 0%;
  position: relative;
}
.side-win.quattro .pizza-button {
  bottom: 10px;
  right: 10px;
}
.side-win.cinque {
  background-position: bottom 30% right 2%;
}
.side-win.sei {
  /* width: 40%; */
  background-position: top 80% left 20%;
}
.build-message {
  width: 20%;
  color: white;
  position: relative;
  top: -15%;
  left: 15%;
}

/*********************** TEAM ***********************/
#team {
  display: flex;
}
.team-resized {
  object-fit: cover;
  object-position: right;
  height: 100%;
}
#team .pizza-button {
  bottom: 20px;
  right: 10px;
}

/*********************** PARTNERS ***********************/
#partners {
  background-color: #f7f7f2;
  padding: 40px 0;
}
#partners .my-container {
  display: flex;
  margin: 0 auto;
  width: 75%;
}

/*********************** MENU ***********************/
#menu {
  padding-top: 50px;
  position: relative;
}
.text-small2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: #5a5a5a;
}

.menu-gallery {
  padding: 40px 0;
  display: flex;
  flex-wrap: nowrap;
  min-width: 1200px;
  max-width: 2000px;
  position: relative;
}
.overflow1 {
  overflow-x: auto;
}
.menu-gallery img {
  min-width: 200px;
  max-width: 250px;
  margin: 0 40px;
}
.menu-gallery .pizza {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.pizza-text {
  padding-top: 10px;
  text-align: center;
  color: var(--text-gold);
}
#menu .pizza-button {
  top: 25%;
  right: 10px;
}
#menu .pizza-button {
}
#events .auto-roll {
  background-color: #ef2853;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  aspect-ratio: 1;
  padding: 5px;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: 0;
}
#events .auto-roll img {
  width: 60%;
}

#menu .sold-tag {
  color: white;
  background-color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  aspect-ratio: 1;
  padding: 7px;
  position: absolute;
  top: 5px;
  right: 40px;
}

/*********************** EVENTI ***********************/
#events {
  display: flex;
}
#events .col-right {
  background-image: url(../img/h3-img-5a.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
#events .col-right img {
  object-fit: cover;
}
#events .col-left {
  width: 50%;
  background-image: url(../img/cielostellato.PNG);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
  border-right: 1px solid white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#events .text-area {
  width: 60%;
  margin: 40px auto;
  color: white;
}
#events .small-red-text {
  font-size: 0.6rem;
}

#events .event {
  padding: 10px 0;
  border-bottom: 1px dotted var(--text-gold);
}
#events .shopping-cart {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  aspect-ratio: 1;
  padding: 5px;
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
#events .shopping-cart img {
  width: 60%;
}
#events .pizza-button {
  top: 70%;
  right: 5%;
}

/*********************** PRENOTA ***********************/
#booking {
  background-image: url(../img/h3-background-img-3.jpg);
  background-size: cover;
  color: white;
  padding: 60px 0;
  border-bottom: 1px solid white;
}
#booking select,
#booking input {
  max-width: 18%;
  color: #5a5a5a;
  font-size: 0.9rem;
  border: 1px solid #303030;
}

#booking button {
  text-align: center;
  width: 20%;
  min-width: 100px;
}

/*********************** FOOTER ***********************/
footer {
  display: flex;
}
footer .col-left {
  width: 50%;
  background-image: url(../img/cielostellato.PNG);
}
footer .col-right {
  width: 50%;
  background-image: url(../img/footer-img-1.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}
footer h5 {
  color: var(--text-gold);

  font-size: 1.2rem;
}
footer h6 {
  color: var(--text-gold);
  font-size: 1rem;
  margin: 0;
}
footer p {
  color: var(--text-lightgrey);
}
footer ul {
  list-style: none;
  padding: 0;
}
footer li {
  font-size: 0.6rem;
  color: var(--text-lightgrey);
}
footer li p {
  margin: 0;
  font-size: 0.7rem;
}
.author {
  color: var(--text-green);
  font-size: 0.7rem;
}
.created {
  color: var(--text-gold);
  font-size: 0.7rem;
}
.footer-img {
  width: 80%;
}
.socials a {
  color: white;
}

footer .pizza-button {
  top: 90%;
  right: 5%;
  z-index: 1;
}
