<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      http-equiv="X-UA-Compatible"
      content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0" />

    <meta
      name="Description"
      content="" />
    <meta
      name="Author"
      content="Hadolph Mercogliano" />

    <!-- LINK FONTAWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />

    <!-- LINK GOOGLEFONT -->
    <link
      rel="preconnect"
      href="https://fonts.googleapis.com" />
    <link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Teko:wght@400;500&display=swap"
      rel="stylesheet" />

    <!-- LINK BOOTSTRAP -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous" />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
      defer></script>

    <!-- LINK VUE.JS -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <!-- CUSTOM CSS -->
    <link
      rel="stylesheet"
      href="./css/style.css" />

    <!-- LINK JAVASCRIPT -->
    <script
      type="text/javascript"
      src="./js/main.js"
      defer></script>

    <title>Don Peppe</title>
  </head>

  <body>
    <div id="root">
      <header class="">
        <nav class="d-flex justify-content-between align-items-center pt-5">
          <div
            class="container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <a
                href="#menu"
                class="btn btn-red">
                ORDER ONLINE
              </a>
            </div>
            <ul class="d-flex justify-content-center align-items-center">
              <li
                v-for="(link,index) in links"
                class="d-flex align-items-center me-3 nav-link">
                <a :href="link.href">
                  <img
                    v-if="(link.logo)"
                    class="nav-logo"
                    :src="link.logoPath"
                    alt="" />

                  <img
                    v-else-if="(link.logoDivider)"
                    class="nav-divider"
                    :src="link.logoPath"
                    alt="" />
                  <span>{{link.text}}</span>
                </a>
              </li>
            </ul>
            <div>
              <a
                class="me-3 position-relative"
                href="#">
                <img
                  class="nav-logo"
                  src="./img/svg/svg-1.svg"
                  alt="" />
                <span>CART</span>
                <div class="cart-counter">
                  <span class="text-center">0</span>
                </div>
              </a>
              <a
                class=""
                href="#">
                <i class="fa-solid fa-magnifying-glass me-1"></i>
                <span>SEARCH</span>
              </a>
            </div>
          </div>
        </nav>

        <!------------------- SLIDER JUMBOTRON  ------------------->
        <div
          id="jumbotron"
          class="position-relative">
          <div class="prev-button">
            <p>PREV</p>
          </div>
          <div class="next-button">
            <p>NEXT</p>
          </div>
          <img
            class="mx-5 p-5"
            src="./img/h3-rev-img-5.png"
            alt="" />

          <img
            class="pizza-slice p-3"
            src="./img/h3-rev-img-6.png"
            alt="" />
        </div>
      </header>

      <main>
        <!------------------- GALLERIA  ------------------->
        <div
          id="gallery"
          class="my-1">
          <div class="">
            <img
              src="./img/h3-img-1.jpg"
              alt="" />
          </div>
          <div class="">
            <img
              src="./img/h3-img-2.jpg"
              alt="" />
          </div>
          <div class="">
            <img
              src="./img/h3-img-3.jpg"
              alt="" />
          </div>
          <div class="">
            <img
              src="./img/h3-img-4.jpg"
              alt="" />
          </div>
        </div>

        <!------------------- QUOTE  ------------------->
        <div
          id="quote"
          class="d-flex justify-content-center">
          <div class="prev-button">
            <p>PREV</p>
          </div>
          <div class="next-button">
            <p>NEXT</p>
          </div>
          <div class="quote my-5">
            <i class="fa-solid fa-quote-left"></i>
            <p class="mb-1">
              "FORGET THE TRENDY PIZZA SHOPS, THIS HIDDEN SPOT MAKES THE BEST
              NEW YORK-STYLE PIZZA SLICE IN NAPLES"
            </p>
            <span class="small-red-text">WASHINGTON POST 2018</span>
            <div>
              <i class="fa-solid fa-circle"></i
              ><i class="fa-solid fa-circle"></i
              ><i class="fa-solid fa-circle"></i>
            </div>
          </div>
          <div class="pizza-button rounded-circle">
            <img
              src="./img/svg/svg-4.svg"
              alt="" />
          </div>
        </div>

        <!------------------- SPECIALITA'  ------------------->
        <div
          id="specials"
          class="d-flex my-1">
          <!-- img  -->
          <div class="col-left d-flex justify-content-center p-5">
            <img
              id="pizzaSpecial"
              class=""
              src="./img/h1-img-7n.png"
              alt="" />
          </div>
          <!-- lista specialità -->
          <div class="specials-text py-5">
            <div class="pizza-button rounded-circle">
              <img
                src="./img/svg/svg-4.svg"
                alt="" />
            </div>
            <div class="w-50">
              <h3 class="fw-500">SPECIALS*</h3>
              <p class="text-small1">
                Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Maxime, vitae!
              </p>
              <div class="d-flex">
                <div class="red-text fs-5">$10</div>
                <div>
                  <span class="fs-5 ps-1">COMBO PICCOLO</span><br />
                  <p class="text-muted ps-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Tenetur, ea.
                  </p>
                </div>
              </div>
              <div class="d-flex">
                <div class="red-text fs-5">$10</div>
                <div>
                  <span class="fs-5 ps-1">COMBO MEZZO</span><br />
                  <p class="text-muted ps-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Tenetur, ea.
                  </p>
                </div>
              </div>
              <div class="d-flex">
                <div class="red-text fs-5">$10</div>
                <div>
                  <span class="fs-5 ps-1">COMBO GRANDE</span><br />
                  <p class="text-muted ps-1">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    Tenetur, ea.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------------------- BUILD YOUR PIZZA  ------------------->
        <div
          id="build"
          class="mb-1">
          <div class="side-row">
            <div class="side-win uno"></div>
            <div class="middle-win uno"></div>
            <div class="side-win due"></div>
          </div>
          <div class="middle-row">
            <div class="side-win tre"></div>

            <div class="middle-win due">
              <h2 class="build-message display-6">
                GO AHEAD AND BUILD YOUR OWN PIZZA WE WON'T JUDGE!
              </h2>
            </div>
            <div class="side-win quattro">
              <div class="pizza-button rounded-circle">
                <img
                  src="./img/svg/svg-4.svg"
                  alt="" />
              </div>
            </div>
          </div>
          <div class="side-row">
            <div class="side-win cinque"></div>
            <div class="middle-win tre"></div>
            <div class="side-win sei"></div>
          </div>
        </div>
        <!------------------- PRESENTAZIONE TEAM  ------------------->
        <div
          id="team"
          class="mb-1">
          <div>
            <img
              class="team-resized"
              src="./img/h1-team-1a-700x700.jpg"
              alt="" />
          </div>

          <div>
            <img
              src="./img/h1-team-2a.jpg"
              alt="" />
          </div>

          <div>
            <img
              src="./img/h1-team-4a.jpg"
              alt="" />
          </div>

          <div class="position-relative">
            <img
              src="./img/h1-team-3a.jpg"
              alt="" />
            <div class="pizza-button rounded-circle">
              <img
                src="./img/svg/svg-4.svg"
                alt="" />
            </div>
          </div>
        </div>
        <!------------------- PARTNERS  ------------------->
        <div id="partners">
          <div class="my-container">
            <div>
              <img
                src="./img/h1-clients-img-4.png"
                alt="" />
            </div>
            <div>
              <img
                src="./img/h1-clients-img-3.png"
                alt="" />
            </div>
            <div>
              <img
                src="./img/h1-clients-img-1.png"
                alt="" />
            </div>
            <div>
              <img
                src="./img/h1-clients-img-2.png"
                alt="" />
            </div>
            <div>
              <img
                src="./img/h1-clients-img-5.png"
                alt="" />
            </div>
          </div>
        </div>
        <!------------------- MENU'  ------------------->
        <!-- titolo -->
        <div id="menu">
          <div class="pizza-button rounded-circle bg-light">
            <img
              src="./img/svg/svg-4.svg"
              alt="" />
          </div>
          <section class="d-flex align-items-center flex-column">
            <p class="small-red-text m-0 p-0">CHOSE YOUR FLAVOR</p>
            <h2 class="fs-1">THE BEST PIZZA MENU IN TOWN</h2>
            <p class="w-50 text-center text-small2">
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Harum,
              libero aut saepe dolore perspiciatis, autem dicta nemo, qui
              voluptas eaque mollitia iste cumque provident ratione.
            </p>
          </section>
          <!-- galleria pizze -->
          <div class="overflow1 mt-4">
            <div class="menu-gallery">
              <div class="pizza">
                <img
                  src="./img/h3-product-img-1a-100x100.png"
                  alt="" />
                <div class="pizza-text">
                  <span>BISMARCK</span>
                  <span class="small-red-text d-block">$5.00 - $30.00</span>
                </div>
              </div>
              <div class="pizza">
                <img
                  src="./img/h3-product-img-2a-150x150.png"
                  alt="" />
                <div class="pizza-text">
                  <span>FIORI DI ZUCCA</span>
                  <span class="small-red-text d-block">$7.00 - $30.00</span>
                </div>
              </div>
              <div class="pizza position-relative">
                <img
                  src="./img/h3-product-img-3a-150x150.png"
                  alt="" />
                <div class="pizza-text">
                  <span>VALDOSTANA</span>
                  <span class="small-red-text d-block">$55.00</span>
                </div>
                <div class="sold-tag rounded-circle">
                  <span>SOLD</span>
                </div>
              </div>
              <div class="pizza">
                <img
                  src="./img/h3-product-img-4a-150x150.png"
                  alt="" />
                <div class="pizza-text">
                  <span>PIZZA TARTUFATA</span>
                  <span class="small-red-text d-block">$45.00</span>
                </div>
              </div>
              <div class="pizza">
                <img
                  src="./img/h3-product-img-5a-150x150.png"
                  alt="" />
                <div class="pizza-text">
                  <span>FRANCESCANA</span>
                  <span class="small-red-text d-block">$25.00</span>
                </div>
              </div>
              <div class="pizza">
                <img
                  src="./img/h3-product-img-6a-100x100.png"
                  alt="" />
                <div class="pizza-text">
                  <span>CAMPAGNOLA</span>
                  <span class="small-red-text d-block">$50.00 - $95.00</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!------------------- EVENTI  ------------------->
        <div
          id="events"
          class="mb-1">
          <!------------------- COL LEFT  ------------------->

          <div class="col-left">
            <div class="text-area">
              <span class="small-red-text">MADE WITH LOVE</span>
              <h3>DELISH PIZZA DEALS</h3>
              <div class="event d-flex">
                <div class="d-flex flex-column">
                  <span class="red-text display-6 m-0">02</span>
                  <span class="text-center m-0">NOV </span>
                </div>
                <div class="ms-3">
                  <span>
                    TRADITIONAL NEAPOLITAN PIES IN KYOTO PIZZA MERCATO
                  </span>
                  <br />
                  <span class="small-red-text">
                    <i class="fa-solid fa-location-dot me-1"></i>
                    204 E. Piazzetta Tommaso
                  </span>
                </div>
              </div>
              <div class="event d-flex">
                <div class="d-flex flex-column">
                  <span class="red-text display-6 m-0">02</span>
                  <span class="text-center m-0">NOV </span>
                </div>
                <div class="ms-3">
                  <span>
                    TRADITIONAL NEAPOLITAN PIES IN KYOTO PIZZA MERCATO
                  </span>
                  <br />
                  <span class="small-red-text">
                    <i class="fa-solid fa-location-dot me-1"></i>
                    204 E. Piazzetta Tommaso
                  </span>
                </div>
              </div>
              <div class="event d-flex">
                <div class="d-flex flex-column">
                  <span class="red-text h1 m-0">02</span>
                  <span class="text-center m-0">NOV </span>
                </div>
                <div class="ms-3">
                  <span>
                    TRADITIONAL NEAPOLITAN PIES IN KYOTO PIZZA MERCATO
                  </span>
                  <br />
                  <span class="small-red-text">
                    <i class="fa-solid fa-location-dot me-1"></i>
                    204 E. Piazzetta Tommaso
                  </span>
                </div>
              </div>
            </div>
          </div>

          <!------------------- COL RIGHT  ------------------->
          <div class="col-right w-50">
            <div class="shopping-cart">
              <img
                src="./img/svg/svg-9.svg"
                alt="" />
            </div>
            <div class="auto-roll">
              <img
                src="./img/svg/svg-7.svg"
                alt="" />
            </div>
            <div class="pizza-button rounded-circle">
              <img
                src="./img/svg/svg-4.svg"
                alt="" />
            </div>
          </div>
        </div>
        <!------------------- PRENOTA  ------------------->
        <div
          id="booking"
          class="my-1">
          <form class="d-flex justify-content-center align-items-center">
            <select
              class="form-select rounded-0 mx-2"
              aria-label="Default select example">
              <option selected>1 Person</option>
              <option value="1">2 People</option>
              <option value="2">3 People</option>
              <option value="3">4 People</option>
              <option value="3">5 People</option>
              <option value="3">6 People</option>
              <option value="3">7 People</option>
              <option value="3">8 People</option>
              <option value="3">9 People</option>
              <option value="3">10 People</option>
            </select>
            <label class="px-2">FOR</label>
            <input
              class="input-group py-1 mx-2"
              type="date" />

            <label class="px-2">AT</label>
            <select
              class="form-select rounded-0 mx-2"
              aria-label="Default select example">
              <option selected>7:00 pm</option>
              <option value="1">7:30 pm</option>
              <option value="2">8:00 pm</option>
              <option value="3">8:30 pm</option>
              <option value="3">9:00 pm</option>
              <option value="3">9:30 pm</option>
              <option value="3">10:00 pm</option>
            </select>
            <a class="btn btn-red mx-5">BOOK A TABLE</a>
          </form>
        </div>
      </main>
      <!------------------- FOOTER  ------------------->
      <footer>
        <!------------------- PARTE SINISTRA  ------------------->
        <div class="col-left">
          <div class="row px-3 mt-5">
            <div class="col-3 me-3">
              <!------------------- RESTAURANT LIST  ------------------->
              <h5>FIND OUR RESTAURANTS</h5>
              <ul v-for="restaurant in restaurants">
                <li>
                  <p>{{restaurant.road }}</p>
                  <p>{{restaurant.city }}</p>
                  <p>{{restaurant.telephone }}</p>
                </li>
              </ul>
            </div>

            <!------------------- WORKING HOURS  ------------------->
            <div class="col-4">
              <h5>WORKING HOURS</h5>
              <h6>MONDAY</h6>
              <p class="small-red-text">Kitchen Closed</p>
              <h6>TUESDAY UNTIL FRIDAY</h6>
              <p>9:00 - 22:00</p>
              <h6 class="d-inline">SATURDAY</h6>
              <span class="red-text"> *</span>
              <p>Saturday 11am to midnight</p>
              <h6>SUNDAY</h6>
              <p>9:00 - 22:00</p>

              <!------------------- SOCIALS  ------------------->
              <h6 class="d-inline">FOLLOW US:</h6>
              <ul class="d-inline socials m-0 p-0 ps-1">
                <li class="d-inline">
                  <a href="#">
                    <i class="fa-brands fa-twitter pe-1"></i>
                  </a>
                </li>
                <li class="d-inline">
                  <a href="#">
                    <i class="fa-brands fa-facebook-f px-1"></i>
                  </a>
                </li>
                <li class="d-inline">
                  <a href="#">
                    <i class="fa-brands fa-instagram px-1"></i>
                  </a>
                </li>
                <li class="d-inline">
                  <a href="#">
                    <i class="fa-brands fa-linkedin-in px-1"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!------------------- MESSAGGIO  ------------------->

            <div class="col-4 h5 text-light">{{message}}</div>
          </div>
          <div class="d-flex justify-content-between align-items-end my-4 mx-3">
            <div>
              <span class="created">Created with &hearts; by </span>
              <span class="author ps-1"> Qode Interactive</span>
            </div>
            <div>
              <img
                class="footer-img"
                src="./img/footer-bottom-img.png"
                alt=" Natural product premium quality" />
            </div>
          </div>
        </div>
        <!------------------- PARTE DESTRA  ------------------->
        <div class="col-right d-flex">
          <div class="pizza-button rounded-circle bg-light">
            <img
              src="./img/svg/svg-4.svg"
              alt="" />
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
